body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}

.linkedin {
  display: flex;
  align-items: baseline;
  width: 3em;
  height: 3em;
  padding-left: 1em;
  padding-top: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  align-items: center; /*left to right*/
  justify-content: center; /*up and down*/
}

.container h2 {
  font-size: 1.5em;
}

.wrapper {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.wrapper .staticTxt {
  display: flex;
  background-color: black;
  height: 1.1em;
  line-height: 1em;
  padding-right: 0.1em; /*seperates static text from dynamic*/
}

.wrapper .dynamicTxt {
  margin-left: 0;
  padding-left: 5px;
  background-color: black;
  height: 1.1em; /*fits text height in animation*/
  line-height: 1em;
  overflow: hidden;
}

.dynamicTxt li {
  top: 0;
  font-size: 1em;
  list-style: none;
  position: relative;
  animation: slide 8s steps(2) forwards;
  margin-bottom: 1em;
}

.dynamicTxt li span {
  position: relative;
}

.dynamicTxt li span::after {
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  border-left: 2px solid white;
  animation: typing 2s alternate forwards,
    cursor 0.4s step-end infinite alternate;
  animation-iteration-count: 5, infinite;
}

/*HEADERS*/
h2 {
  font-size: 1em;
}

.pill {
  display: flex;
  justify-content: baseline;
  background: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.5em 1em; /*left is for top and bottom padding and right is for right and left padding*/
  margin: 0.25em;
  border-radius: 1em;
  border: 1px;
  border-color: white;
  outline: none;
}

.ptext {
  text-decoration: none;
  color: black;
}

.pill:hover {
  background: black;
  border: 1px;
  border-color: white;
  outline: auto;
  color: white;
}

.txtnimg {
  display: flex;
  flex-direction: row;
  gap: 10em;
}

.me {
  width: 25em;
  max-width: 25em;
  height: auto;
  padding-right: 10em;
  object-fit: cover;
}

.languages {
  height: auto;
  max-width: 7em;
}

.logos {
  display: flex;
  gap: 15em;
  padding-left: 15em;
  padding-right: 15em;
}

.c {
  display: flex;
  flex-direction: column;
}

.p {
  display: flex;
  flex-direction: column;
}

.j {
  display: flex;
  flex-direction: column;

}
.sections h3 {
  font-size: 2em;
}

.sections p {
  font-size: 1.5em;
}

.pill a:hover {
  color: white;
}

.sections {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.about {
  padding-left: 5em;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 15em;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 5em;
}

.title {
  font-size: 2em;
}

/*END OF HEADERS*/

/*KEY FRAMES ANIMATIONS*/

/*CURSOR BLINKING ANIMATION*/
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/*TYPING EFFECT*/
@keyframes typing {
  100% {
    left: 100%;
  }
}

@keyframes slide {
  100% {
    top: -4em;
  }
}

/*END OF KEY FRAMES ANIMATIONS*/

.hidden {
  opacity: 0;
  transition: all 2s;
}

/*SCRIPT*/

.show {
  opacity: 1;
}

/*END OF SCRIPT*/